<%= turbo_frame_tag "comment-form" do %>
    <%= form_with model: [@ticket, @comment], url: workspace_ticket_comments_path(@ticket), method: :post, local: true do |form| %>
        <div>
            <%= form.text_area :content, maxlength: 9810, size: 90, value: "" %>
            <%# Ensures the text box is cleared after submission by preventing persistence of previous content %>
        </div>
        <div>
            <%= form.submit "Add Comment" %>
        </div>
    <% end %>
<% end %>