<h1>Tickets</h1>

<%= link_to "New Ticket", new_ticket_path %>

<div id="tickets">
    <% @tickets.each do |ticket| %>
        <div>
            <%= link_to ticket.title, ticket %>
        </div>
    <% end %>
</div>