<% content_for :title, "Users" %>

<div class="rounded-sm mx-4 mt-4 p-2 w-fit border-indigo-900 border-2 text-sm hover:bg-indigo-900 text-zinc-50 bg-indigo-950 shadow-md sm:rounded-lg">
  <%= link_to "New", new_admin_user_path %>
</div>

<div class="rounded-sm p-4">
  <%= render "users_table" %>
</div>