<% content_for :title, "Home" %>

<% if authenticated? %>
  <div class="rounded-lg mx-4 mt-4 px-5 py-2.5 w-fit border-cyan-900 border-2 font-medium text-sm hover:bg-cyan-900 text-zinc-50 bg-cyan-950 shadow-md sm:rounded-lg">
    <%= link_to "Tickets", support_tickets_path %>
  </div>
<% end %>